*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family:Helvetica, sans-serif;
}

h1{
    margin: 1.6rem 0;
    font-weight: 700;
}

.sedans{
    background-color: #c57f16;
    color: #f8eedf;
    padding: 50px 20px;
    border-radius: 7px 7px 0 0;
    margin: 40px 40px 0 40px;


}

.sedan-btn{
    margin: 20px 0; 
    background: rgb(235, 231, 235);
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: #c57f16;
    cursor: pointer;
}

.suvs{
    background-color: #13525d;
    color: #f8eedf;
    padding: 50px 20px;
    /* margin-bottom: 12px; */
    margin: 0 40px 0 40px;

}

.suv-btn{
    margin-top: 20px;
    background: rgb(235, 231, 235);
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: #13525d;
    cursor: pointer;
}

.luxury{
    background-color: #05160d;
    color: #f8eedf;
    padding: 50px 20px;
    /* margin-bottom: 12px; */
    margin: 0px 40px 40px 40px;
    border-radius:0 0 7px 7px;

}

.luxury-btn{
    margin-top: 20px;
    background: rgb(235, 231, 235);
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: #05160d;
    cursor: pointer;
}


.sedan-btn:hover,
.sedan-btn:active{
    margin-top: 20px;
    background: rgba(214, 12, 46, 0.89);
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: #fdfbfd;
    cursor: pointer;
}


.suv-btn:hover,
.suv-btn:active{
    margin-top: 20px;
    background: rgba(214, 12, 46, 0.89);
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    color: #fdfbfd;
    cursor: pointer;
}

.luxury-btn:hover,
.luxury-btn:active{
    margin-top: 20px;
    background:#e91f04;
    border: none;
    padding: 12px 17px;
    /* border-radius: 50px; */
    color: #dbd6db;
    cursor: pointer;
}

@media (min-width:40rem) {

    .main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 5rem;
        margin-top: 50px;
        margin-left: 30px;
        margin-right: 30px;
        background: rgb(211, 210, 207);
        border-radius: 1rem;
        box-shadow: #8d8b8b 5px 15px 6px 6px;
    }

.cards {
    display: flex;
    flex-direction: row;
    margin-left: 5rem;
    margin-top: 5rem;
    max-width: 1300px;
    }

    .sedans{
    width: 30%;
    margin: 0;
    border-radius: 0;
    }

    .luxury{
        width: 30%;
        margin: 0;
        border-radius: 0;
        }

    .suvs{
        width: 30%;
        margin: 0;
        border-radius: 0;
        }
}

@media (min-width:92rem) {
    .cards{
        margin-left: 9rem;
    }
    
}